body{
    background:rgb(32, 75, 95);
}

.title-letter-T{
    display: inline-block;
    background: rgba(202,72,61);
    width: 30px;
    height: 30px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
    border-radius: 5px;
}