<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <script src="../static/js/script.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <h1 style="font-family:courier;text-align:center">Welcome on the homepage</h1>
    <p>Hello {{name}}. First of all you can choose your game, view your stats, ...</p>
    <button id="startGameBtn">Start a game</button>
    <button id="statsBtn">View your stats</button>
    <div id="clock"></div>


</body>
</html>