<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TUSMO</title>
    <link rel="stylesheet" href="/static/css/styleTusmo.css">
</head>
<body>
    <h1 style="color: rgb(255,255,255); text-align: center">You're going to play
        <div class="title">
            <div class="title-letter-T">T</div>
            <div class="title-letter-U">U</div>
            <div class="title-letter-S">S</div>
            <div class="title-letter-M">M</div>
            <div class="title-letter-O">O</div>
        </div>
    </h1>
</body>
</html>